* {
    margin:0px;
    padding:0px;
    color:#000;
    font-family: Arial;
}


body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background:url(../img/background.jpg) no-repeat center center/cover;
}

