* {
    margin:0px;
    padding:0px;
    color:#000;
    font-family: Arial;
}


body {
    /* background-color: #001849;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    background:url(./img/background.jpg);
    object-fit: cover;
}

/*  rgb(180, 232, 230) //// rgb(0, 24, 73);*/